@font-face { 

font-family: Kranky; 
    src: url("font.ttf");}

h1{
    color: darkblue;

    text-align: center;
    }
   
h1 { font-family: Georgia, Times, "Times New Roman", serif;}
h2 { font-family: Georgia, Times, "Times New Roman", serif;}
  
p { font-family: Verdana, Geneva, sans-serif;}

h2{ color: red;margin:auto;
    text-align: left;
    }
h3{font-family: Georgia, Times, "Times New Roman", serif; text-align: center; color: red;}


blockquote {margin:auto;
    text-align: center; font-family: 'Kranky', cursive;}
       

   

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  
   background-image: url("wood.jpg");
   color: red;
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif;}

   .main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}


.image {width: 15%;height:auto; float:right;}


.main-footer {
  grid-area: footer;
}


.wrapper {
    display: grid;}
  
 
.wrapper {
    grid-template-areas:
"header"
"content"
        "footer";}




@media (min-width: 500px){
  .wrapper {
    
    grid-template-areas:
      "header"
      "content"
      "footer";
    }}
  


@media (min-width: 700px) {
  .wrapper {
    
      grid-template-areas:
      "header"
    "content"
      "footer";
    }}
  
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
   }

.image2 {max-width:100%;height:auto;}
   
  
  
     
.FloatLeft {float: right;}

.icon { 
transition: all .2s ease-in-out; 
}

.icon:hover { 
transform: scale(1.2); 
}

@media print {
    *{background: transparent;
    color: #000;
    box-shadow: none;
    text-shadow: none;}
    nav {display: none;}
    img {display: none;}
    @page {
  margin: 1in;
      
}
p {
font: 12pt Georgia, Times, "Times New Roman", serif;
line-height: 1.5;
}   
    h1 {font: 16pt Georgia, Times, "Times New Roman", serif;;
line-height: 1.5;}
     h2 {font: 14pt Georgia, Times, "Times New Roman", serif;
line-height: 1.5;}
    .myDiv {display:none;}
    .center {display: none;}
    }
       
         
    
    

 
    
